{% extends "components/base.html" %}

{% block content %}
<br />
<br />
<br />
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between">
      <h5>{{ form.instance.pk|yesno:"Edit Interview,Schedule Interview" }}</h5>
      <a href="{% url 'interview-list' %}" class="btn btn-secondary btn-sm">Back</a>
    </div>

    <div class="card-body">
      <form method="POST">
        {% csrf_token %}

        <div class="row g-3">
          {% for field in form %}
          <div class="col-md-6">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <div class="text-danger small">{{ field.errors }}</div>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <button class="btn btn-primary px-4">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
