{% extends "components/base.html" %}
{% block title %}Edit Department{% endblock %}

{% block content %}
<div class="content-page">
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">

                <h4 class="fw-bold mb-3">Edit Department</h4>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-primary">Update</button>
                    <a href="{% url 'department_list' %}" class="btn btn-secondary">Cancel</a>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
