{% extends "components/base.html" %}
{% block title %}Delete Department{% endblock %}

{% block content %}
<div class="content-page">
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">

                <h4 class="fw-bold mb-3 text-danger">Delete Department</h4>

                <p>Are you sure you want to delete <strong>{{ department.name }}</strong>?</p>

                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                    <a href="{% url 'department_list' %}" class="btn btn-secondary">Cancel</a>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
