

<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Datum | CRM Admin Dashboard Template</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico" />
        <!-- Library / Plugin Css Build -->
        <link rel="stylesheet" href="/static/assets/css/core/libs.min.css">
        <link rel="stylesheet" href="/static/assets/css/datum.mine209.css?v=1.0.0">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/static/assets/css/custom.mine209.css?v=1.0.0">
        <!-- Customizer Css -->
        <link rel="stylesheet" href="/static/assets/css/customizer.mine209.css?v=1.0.0">
        <!-- font-awesome css -->
        <link rel="stylesheet"
            href="/static/assets/vendor/font-awesome/css/all.mine209.css?v=1.0.0" />
        
        <!-- Google Fonts -->

        <link
            href="https://fonts.googleapis.com/css2?family=Teachers:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </head>
    
    
    <body class=" color-light ">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"
                style="background: url('/static/assets/images//') no-repeat scroll 50%;">
            </div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="iq-sidebar  sidebar-default  ">
                <div
                    class="iq-sidebar-logo d-flex align-items-end justify-content-between">
                    <a href="/" class="header-logo">
                        <img src="/static/assets/images/logo.png"
                            class="img-fluid rounded-normal " alt="logo">
                        <span>Datum</span>
                    </a>
                    <div class="side-menu-bt-sidebar-1">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="text-light wrapper-menu" width="30"
                            fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </div>
                <div class="data-scrollbar" data-scroll="1">
                    <!-- Official Sidebar -->
                    {% include 'components/sidebar.html' %}
                        <div class="pt-5 pb-5"></div>
                    </div>
                </div>
                <div class="iq-top-navbar">
                    {% include 'components/navbar.html' %}
                </div>
                <!-- TOP Nav Bar END -->
                 <!-- content start  -->

                 {% block content %}
                 {% endblock %}

            </div>
            <!-- Wrapper End-->

            {% include 'components/footer.html' %}
            <!-- Library Bundle Script -->
            {% include 'components/scripts.html' %}

        </body>

    </html>
