{% load static %}

<!-- Library Bundle Script -->
    <script src="/static/assets/js/core/libs.min.js"></script>
    <script src="/static/assets/js/core/external.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/static/assets/js/customizer.js"></script>
    
    <script src="/static/assets/js/sidebar.js"></script>
    
    <!-- Flextree Javascript-->
    <script src="/static/assets/js/flex-tree.min.js"></script>
    <script src="/static/assets/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="/static/assets/js/table-treeview.js"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="/static/assets/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="/static/assets/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="/static/assets/js/chart-custom.js"></script>
    <script src="/static/assets/js/charts/01.js"></script>
    
    <!-- slider JavaScript -->
    <script src="/static/assets/js/slider.js"></script>
    
    <!-- Emoji picker -->
    <script src="/static/assets/vendor/emoji-picker-element/index.js" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>