{% extends 'components/base.html' %}
{% load static %}

{% block title %}Upload Document{% endblock %}

{% block content %}
<div class="container mt-4">
    <h4 class="fw-bold mb-3">Upload Employee Document</h4>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Upload</button>
        <a href="{% url 'employee_documents' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
