{% load static %}
{% for emp in employees %}
  {% if emp.manager == manager %}
  <ul>
    <li>
      <div class="org-node">
        {% if emp.user.profile_image %}
          <img src="{{ emp.user.profile_image.url }}" alt="Profile" class="rounded-circle mb-1" width="50" height="50">
        {% else %}
          <img src="{% static 'images/default-avatar.png' %}" alt="Profile" class="rounded-circle mb-1" width="50" height="50">
        {% endif %}
        <div class="fw-bold">{{ emp.user.get_full_name }}</div>
        <small class="text-muted">{{ emp.job_title.name }}</small>
      </div>

      {% include 'partials/_org_tree.html' with employees=employees manager=emp %}
    </li>
  </ul>
  {% endif %}
{% endfor %}
